body {
  background-color: #f0f0f0;
  font-family: Lato, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 135%;
}

h1 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 35px;
  line-height: 40px;
  font-weight: 400;
}

h2 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 400;
}

h3 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 30px;
  font-weight: 400;
}

h4 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 17px;
  line-height: 22px;
  font-weight: 400;
}

h5 {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

h6 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Lato, sans-serif;
  line-height: 160%;
}

a {
  color: #24a7ff;
  text-decoration: underline;
}

ul {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-left: 40px;
}

ol {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
  font-family: Lato, sans-serif;
}

img {
  display: inline-block;
  max-width: 100%;
}

blockquote {
  margin-bottom: 10px;
  padding: 10px 20px;
  border-left: 5px solid #e2e2e2;
  font-size: 16px;
  line-height: 135%;
}

figure {
  margin-bottom: 20px;
}

figcaption {
  margin-top: 5px;
  color: #aaa;
  font-size: 13px;
  text-align: center;
}

.button {
  display: inline-block;
  padding: 11px 20px;
  border-radius: 3px;
  background-color: #888;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: #333;
}

.button.w--current {
  background-color: #2e80b6;
}

.section {
  position: relative;
  padding-top: 63px;
  padding-bottom: 63px;
  background-color: #fff;
}

.section.accent {
  background-color: #f3f3f3;
}

.section.dark {
  background-color: #5d5d5d;
  color: #fff;
}

.social-button {
  margin-right: 4px;
  margin-bottom: 8px;
  margin-left: 4px;
  padding: 8px;
  border-radius: 100px;
  background-color: #000;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.social-button:hover {
  opacity: 0.7;
}

.social-button.border {
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.36);
  background-color: transparent;
}

.social-button.facebook {
  background-color: #3c5791;
}

.social-button.twitter {
  background-color: #29a9e8;
}

.social-button.red {
  background-color: #d11529;
}

.social-button.pink {
  background-color: #fc488f;
}

.social-button.pink2 {
  background-color: #ed1081;
}

.social-button.orange {
  background-color: #db4e34;
}

.social-button.vimeo {
  background-color: #1ebae7;
}

.social-button.linkdin {
  background-color: #1485c3;
}

.social-button.instagram {
  background-color: #4b769b;
}

.social-button.tumblr {
  background-color: #2e5270;
}

.social-button.webflow {
  background-color: #3278bd;
}

.social-button.medium {
  background-color: #549f63;
}

.social-icon-link {
  width: 20px;
  margin-right: 9px;
  opacity: 0.36;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.social-icon-link:hover {
  opacity: 0.9;
}

.byncnd-by {
  display: block;
  margin-top: 0px;
  margin-bottom: 15px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: Lato, sans-serif;
  color: #aaa;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.byncnd-by:hover {
  color: #2d3e4f;
}

.byncnd-by.w--current {
  margin-bottom: 15px;
  color: #333;
  font-size: 16px;
}

.grey-rule {
  width: 90px;
  height: 1px;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #c7c7c7;
}

.site-name {
  display: block;
  color: #333;
  font-size: 36px;
  line-height: 100%;
  text-decoration: none;
}

.site-description {
  color: #aaa;
  line-height: 145%;
}

.built-with-webflow {
  color: #aaa;
  font-size: 10px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.webflow-link {
  color: #aaa;
  text-decoration: none;
}

.webflow-link:hover {
  color: #333;
}

.post-wrapper {
  margin-bottom: 50px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06);
}

.blog-image {
  display: block;
  height: 250px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.blog-image:hover {
  opacity: 0.8;
}

.blog-image.blog-page {
  height: 300px;
}

.post-content {
  padding: 35px;
}

.post-summary {
  display: inline;
  color: #aaa;
  font-size: 14px;
  line-height: 22px;
}

.post-info {
  display: inline-block;
  margin-right: 8px;
  color: #aaa;
  font-size: 10px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.post-info.link {
  text-decoration: none;
}

.post-info.link:hover {
  color: #333;
}

.blog-title-link {
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #333;
  text-decoration: none;
}

.blog-title-link:hover {
  opacity: 0.8;
}

.body-copy img {
  border-radius: 3px;
}

.body-copy li {
  margin-bottom: 3px;
}

.body-copy blockquote {
  line-height: 145%;
}

.body-copy figure {
  margin-bottom: 20px;
}

.about-image {
  height: 300px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-image: url('../images/photo-1433588641602-7c1083c4f0e2-bw.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.success-message {
  padding-top: 49px;
  padding-bottom: 49px;
  border-radius: 3px;
  background-color: #f0f0f0;
  text-align: center;
}

.success-message.white-background {
  border: 1px solid #dfdfdf;
  background-color: #fff;
}

.success-text {
  margin-bottom: 0px;
  font-size: 17px;
}

.text-field {
  margin-bottom: 15px;
  border-radius: 3px;
}

.text-field.text-area {
  min-height: 110px;
}

.social-link-group {
  margin-bottom: 12px;
}

.read-more-link {
  display: inline;
  margin-left: 8px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: Lato, sans-serif;
  color: #aaa;
  font-size: 14px;
  line-height: 22%;
  text-decoration: underline;
}

.read-more-link:hover {
  color: #333;
}

.content-wrapper {
  max-width: 1200px;
  margin-left: 400px;
  padding: 50px;
  font-size: 16px;
}

.sidebar-wrapper {
  position: fixed;
  width: 400px;
  height: 100%;
  padding: 50px;
  border-right: 1px solid #e2e2e2;
  background-color: #fff;
}

.blog-title {
  font-size: 30px;
  line-height: 37px;
}

.white-bg-heading {
  margin-bottom: 40px;
  padding: 11px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06);
}

.post-info-wrapper {
  margin-top: 16px;
}

.heading {
  font-size: 30px;
}

.heading-2 {
  font-size: 36px;
}

.container {
  border-radius: 0px;
  background-color: #f0f0f0;
}

.paragraph {
  font-size: 16px;
}

.paragraph-2 {
  font-size: 16px;
}

.heading-3 {
  font-size: 30px;
}

.heading-4 {
  font-size: 30px;
}

.container-2 {
  margin-bottom: 100px;
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
}

.paragraph-3 {
  font-size: 16px;
}

.byncsa-by {
  display: block;
  margin-top: 0px;
  margin-bottom: 15px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: Lato, sans-serif;
  color: #aaa;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.byncsa-by:hover {
  color: #2d3e4f;
}

.byncsa-by.w--current {
  color: #333;
  font-size: 16px;
}

.bynd-by {
  display: block;
  margin-top: 0px;
  margin-bottom: 15px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: Lato, sans-serif;
  color: #aaa;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.bynd-by:hover {
  color: #2d3e4f;
}

.bynd-by.w--current {
  color: #333;
  font-size: 16px;
}

.bync-by {
  display: block;
  margin-top: 0px;
  margin-bottom: 15px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: Lato, sans-serif;
  color: #aaa;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.bync-by:hover {
  color: #2d3e4f;
}

.bync-by.w--current {
  color: #333;
  font-size: 16px;
}

.bysa-by {
  display: block;
  margin-top: 0px;
  margin-bottom: 15px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: Lato, sans-serif;
  color: #aaa;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.bysa-by:hover {
  color: #2d3e4f;
}

.bysa-by.w--current {
  color: #333;
  font-size: 16px;
}

.byncnd-bysa {
  display: block;
  margin-top: 0px;
  margin-bottom: 15px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: Lato, sans-serif;
  color: #aaa;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.byncnd-bysa:hover {
  color: #2d3e4f;
}

.byncnd-bysa.w--current {
  color: #333;
  font-size: 16px;
}

.byncsa-bysa {
  display: block;
  margin-top: 0px;
  margin-bottom: 15px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: Lato, sans-serif;
  color: #aaa;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.byncsa-bysa:hover {
  color: #2d3e4f;
}

.byncsa-bysa.w--current {
  color: #333;
  font-size: 16px;
}

.bynd-bysa {
  display: block;
  margin-top: 0px;
  margin-bottom: 15px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: Lato, sans-serif;
  color: #aaa;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.bynd-bysa:hover {
  color: #2d3e4f;
}

.bynd-bysa.w--current {
  color: #333;
  font-size: 16px;
}

.byncnd-bync {
  display: block;
  margin-top: 0px;
  margin-bottom: 15px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: Lato, sans-serif;
  color: #aaa;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.byncnd-bync:hover {
  color: #2d3e4f;
}

.byncnd-bync.w--current {
  color: #333;
  font-size: 16px;
}

.byncsa-bync {
  display: block;
  margin-top: 0px;
  margin-bottom: 15px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: Lato, sans-serif;
  color: #aaa;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.byncsa-bync:hover {
  color: #2d3e4f;
}

.byncsa-bync.w--current {
  color: #333;
  font-size: 16px;
}

.byncnd-bynd {
  display: block;
  margin-top: 0px;
  margin-bottom: 15px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: Lato, sans-serif;
  color: #aaa;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.byncnd-bynd:hover {
  color: #2d3e4f;
}

.byncnd-bynd.w--current {
  color: #333;
  font-size: 16px;
}

.byncnd-byncsa {
  display: block;
  margin-top: 0px;
  margin-bottom: 15px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-family: Lato, sans-serif;
  color: #aaa;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.byncnd-byncsa:hover {
  color: #2d3e4f;
}

.byncnd-byncsa.w--current {
  color: #333;
  font-size: 16px;
}

.heading-5 {
  font-size: 30px;
}

.container-3 {
  margin-bottom: 100px;
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
}

.heading-6 {
  font-size: 30px;
}

.container-4 {
  margin-bottom: 100px;
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
}

.heading-7 {
  font-size: 30px;
}

.container-5 {
  margin-bottom: 100px;
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
}

.heading-8 {
  font-size: 30px;
}

.container-6 {
  margin-bottom: 100px;
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
}

.container-7 {
  margin-bottom: 100px;
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
}

.heading-9 {
  font-size: 30px;
}

.container-8 {
  margin-bottom: 100px;
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
}

.heading-10 {
  font-size: 30px;
}

.container-9 {
  margin-bottom: 100px;
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
}

.heading-11 {
  font-size: 30px;
}

.container-10 {
  margin-bottom: 100px;
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
}

.heading-12 {
  font-size: 30px;
}

.container-11 {
  margin-bottom: 100px;
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
}

.heading-13 {
  font-size: 30px;
}

.container-12 {
  margin-bottom: 100px;
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
}

.heading-14 {
  font-size: 30px;
}

.container-13 {
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
}

.heading-15 {
  font-size: 30px;
}

.text-span {
  font-size: 12px;
}

.italic-text {
  font-size: 16px;
}

@media screen and (max-width: 991px) {
  .post-wrapper {
    margin-bottom: 35px;
  }

  .blog-image {
    height: 190px;
  }

  .about-image {
    height: 250px;
  }

  .content-wrapper {
    margin-left: 300px;
    padding: 30px;
  }

  .sidebar-wrapper {
    width: 300px;
    padding: 30px;
  }

  .white-bg-heading {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .social-icon-link {
    margin-right: 8px;
    margin-left: 8px;
  }

  .byncnd-by {
    display: inline-block;
    margin: 0px 10px;
  }

  .grey-rule {
    display: block;
    margin: 21px auto;
  }

  .site-name.w--current {
    margin-bottom: 15px;
  }

  .site-description {
    margin-bottom: 15px;
  }

  .built-with-webflow {
    margin-bottom: 0px;
  }

  .post-wrapper {
    margin-bottom: 30px;
  }

  .post-content {
    padding: 20px;
  }

  .about-image {
    height: 250px;
  }

  .social-link-group {
    margin-bottom: 0px;
  }

  .button-wrapper {
    text-align: center;
  }

  .content-wrapper {
    width: 100%;
    margin-left: 0px;
  }

  .sidebar-wrapper {
    position: static;
    width: 100%;
    border-bottom: 1px solid #e2e2e2;
    border-right-style: none;
    text-align: center;
  }

  .blog-title {
    font-size: 27px;
    line-height: 36px;
  }

  .navigation {
    margin-bottom: 15px;
  }

  .byncsa-by {
    display: inline-block;
    margin: 0px 10px;
  }

  .bynd-by {
    display: inline-block;
    margin: 0px 10px;
  }

  .bync-by {
    display: inline-block;
    margin: 0px 10px;
  }

  .bysa-by {
    display: inline-block;
    margin: 0px 10px;
  }

  .byncnd-bysa {
    display: inline-block;
    margin: 0px 10px;
  }

  .byncsa-bysa {
    display: inline-block;
    margin: 0px 10px;
  }

  .bynd-bysa {
    display: inline-block;
    margin: 0px 10px;
  }

  .byncnd-bync {
    display: inline-block;
    margin: 0px 10px;
  }

  .byncsa-bync {
    display: inline-block;
    margin: 0px 10px;
  }

  .byncnd-bynd {
    display: inline-block;
    margin: 0px 10px;
  }

  .byncnd-byncsa {
    display: inline-block;
    margin: 0px 10px;
  }
}

@media screen and (max-width: 479px) {
  .post-wrapper {
    margin-bottom: 20px;
  }

  .blog-image {
    height: 190px;
  }

  .content-wrapper {
    padding: 20px;
  }

  .sidebar-wrapper {
    padding: 20px;
  }

  .blog-title {
    font-size: 26px;
    line-height: 32px;
  }
}

